<div data-ng-controller="loginController">
   <div class="container access-section">
      <div class="row">
          <div class="form-box col-md-offset-2 col-sm-offset-0 xs-offset-0 col-xs-12 col-md-8">
              <div class="form-box-inner">
                  <h2 class="title text-center">Log in to Velocity</h2>
                  <div class="row">
                      <div class="form-container col-xs-12 col-md-5">
                          <form class="login-form">
                              <div class="form-group email">
                                  <label class="sr-only" for="login-email">Email or username</label>
                                  <input id="login-email" type="email" ng-model="email" class="form-control login-email" placeholder="Email or username">
                              </div><!--//form-group-->
                              <div class="form-group password">
                                  <label class="sr-only" for="login-password">Password</label>
                                  <input id="login-password" ng-model="password" type="password" class="form-control login-password" placeholder="Password">
                                  <p class="forgot-password"><a href="reset-password.html">Forgot password?</a></p>
                              </div><!--//form-group-->
                              <button type="submit" ng-click="clickOnLogin()" class="btn btn-block btn-cta-primary">Log in</button>
                              <div class="checkbox remember">
                                  <label>
                                      <input type="checkbox"> Remember me
                                  </label>
                              </div><!--//checkbox-->
                              <p id="mydiv" ng-show="errorMessage">Invalid Email or Password</p>
                              <p class="lead">Don't have a Velocity account yet? <br><a class="signup-link" ng-click="goTosignUp()">Create your account now</a></p>
                          </form>
                      </div><!--//form-container-->
                      <div class="social-btns col-md-offset-1 col-sm-offset-0 col-sm-offset-0 col-xs-12 col-md-5">
                          <div class="divider"><span>Or</span></div>
                          <ul class="list-unstyled social-login">
                              <li><button class="twitter-btn btn" type="button"><i class="fa fa-twitter"></i>Log in with Twitter</button></li>
                              <li><button class="facebook-btn btn" type="button"><i class="fa fa-facebook"></i>Log in with Facebook</button></li>
                              <li><button class="github-btn btn" type="button"><i class="fa fa-github-alt"></i>Log in with Github</button></li>
                              <li><button class="google-btn btn" type="button"><i class="fa fa-google-plus"></i>Log in with Google</button></li>
                          </ul>
                      </div><!--//social-btns-->
                  </div>
              </div>
          </div>
      </div>
   </div>

    <button ng-click="goTosignUp()">SIGNUP</button>
</div>